
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

/* Global */

html, body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/white_wall2.png");
}

img{
   width: 80%;
  height: auto;
    }

/* Header */
header {
	display: flex;
	justify-content: space-between;
  	color: #f2f2f2;
  	text-align: center;
  	padding: 14px 16px;
 	text-decoration: none;
  	font-size: 17px;
}

.nav-item {
	color: #D7BDE2;
	border-bottom: solid 1px; 
	border-bottom-color: rgba(15, 122, 252, 0.2);
	 outline: none;
	text-align: center; 
  	text-decoration: none;
  	padding: 2px 1px 0;
}

.navbar{
    border-bottom: 2px solid #D7BDE2;
}

.navbar-nav {
    flex-direction: row;
}

.border-right{
    color:#D7BDE2 !important;
}

.navbar-brand{
    font-family: 'Staatliches', cursive;
    background-color: #D7BDE2;
    color: #ffffff !important;  
    height: 80px;
    width: 270px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

main a {
	font-weight: 700;
	text-decoration: none;	
}

nav-link  a:link { color: #38786a; }
nav-link  a:visited { color: #38786a; }
nav-link  a:hover { color: #403933; }
a:active { color: #403933; }


a:hover {
	text-decoration: underline;	
}

/* Main Area */

hr{
    border-bottom: 3px solid #D7BDE2;
}

.collapse:not(.show){
    display: inline;
}

h3 {
	font-family: 'Staatliches', cursive;
	font-size: 30px; 
	font-weight: 800; 
	line-height: 36px; 
	margin: 0 0 24px; 
	text-align: center; 
}

.about_me{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #f97171; 
    font-size: 20px;
    background-color: #b2eee6;
    margin-bottom: 40px;
    display: block;
  }

.main{
    background-color: #fff;
    border: 1px solid #D7BDE2;
    margin-bottom: 15%;
 }

.wrapper {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

p{
color: #685206;
font-family: 'Helvetica Neue', sans-serif; 
font-size: 14px;
line-height: 24px; 
margin: 0 0 24px; 
text-align: justify; 
text-justify: inter-word;
}

/*Portfolio*/

.projects {
	display: flex;
}

.group{
    margin: 0;
    padding: 0;
    position: relative;
    margin-bottom: 5%;
}

.img_text{
    height: 30%;
    width: 280px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    text-align: center;
    background-color: #4aaaa5; 
    padding-top: 3%;
    position: absolute;
    top: 60%;
} 

/*Contact*/

.btn {
    padding: 8px 25px 8px 25px;
    text-align: center;
    font-size: 17px;
    color: #ffffff;
    background-color: #4aaaa5; 
    border-bottom: 2px solid #dddddd;
} 

form {
   display: block;
   max-width: 600px;
   text-align: center;
   margin: 20px auto;
  
  input, textarea {
     border:0; outline:0;
     padding: 1em;
     @include border-radius(8px);
     display: block;
     width: 100%;
     margin-top: 1em;
     font-family: 'Merriweather', sans-serif;
     @include box-shadow(0 1px 1px rgba(black, 0.1));
     resize: none;
    
    &:focus {
       @include box-shadow(0 0px 2px rgba($red, 1)!important);
    }
  }
  
  #input-submit {
     color: white; 
     background: red;
     cursor: pointer;
    
    &:hover {
       @include box-shadow(0 1px 1px 1px rgba(#aaa, 0.6)); 
    }
  }
  
  textarea {
      height: 126px;
  }
}


.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right { width: 50%; }

.left {
     margin-right: 2%; 
}

.cf {
	display: flex;
	margin-left: 50px;
	
}

.item-double {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.contact-links {
	color: grey;
	border-bottom: solid 1px; 
	border-bottom-color: rgba(15, 122, 252, 0.2);
	 outline: none;
  	text-decoration: none;
  	padding: 2px 1px 0;
}

a {
  color: red;
  font-family: helvetica;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: black;
}

a:visited {
  color: purple;
}

/* Footer */

#footer{
    border-top: 8px solid #D7BDE2;
    background-color: #666666;
    text-align: center;
    font-size: 12px;
    color:#dddddd;
    width: 100%;
    height: 60px;
    margin-top: 60px;
    padding-top: 1.2%;
}

/* Media Query */

/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {

    .container{
        margin: 0 !important;   
        padding: 0 !important;
    }

    ul.navbar-nav{
        display: flex;
        justify-content: center; 
        align-items: center;
    }

    .navbar-brand {
        flex: 100%;
        margin: 0;
    }

    .navbar-nav .nav-link {
        padding-right: 10px !important;
        padding-left: 5px !important;
    }

    .img_responsive{
        display: flex;
        justify-content: center; 
        margin-right: 7%;
    }

    p{
        margin-top: 5%;
    }
}

/* Small devices (landscape phones, 576px and up) */
    
@media (min-width: 576px) {

    ul.navbar-nav{
        display: flex;
        justify-content: center; 
        align-items: center;
    }

    .navbar-brand {
        margin: auto;
    }

    .navbar-nav .nav-link {
        padding-right: 10px !important;
        padding-left: 5px !important;
    }

    .img_responsive{
        display: flex;
        justify-content: center; 
        margin-right: 5%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .container{
        max-width: 960px;
    }
}



