@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* Global */

html, body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/white_wall2.png");
}

img{
  border: 2px solid red;
  border-radius: 8px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Header */
header {
	display: block;
  	color: #f2f2f2;
  	text-align: center;
  	padding: 14px 16px;
 	text-decoration: none;
  	font-size: 1.0625em;
}

h1 {
	font-family: 'Anton', sans-serif;
	font-size: 3.4375em;
	color: #EE22CC;
	margin-bottom: 30px;
}

.nav-item {
	color: #D7BDE2;
	border-bottom: solid 1px; 
	border-bottom-color: rgba(15, 122, 252, 0.2);
	 outline: none;
	text-align: center; 
  	text-decoration: none;
  	padding: 2px 1px 0;
}

.navbar{
    border-bottom: 2px solid #D7BDE2;
}

.navbar-nav {
	list-style-type:none;
    flex-direction: row;
}

.border-right{
    color:#D7BDE2 !important;
}

.navbar-brand{
    font-family: 'Staatliches', cursive;
    background-color: #D7BDE2;
    color: #ffffff !important;  
    height: 80px;
    width: 270px;
    font-size: 1.625em;
    font-weight: bold;
    text-align: center;
}

nav-link  a:link { color: #38786a; }
nav-link  a:visited { color: #38786a; }
nav-link  a:hover { color: #403933; }
a:active { color: #403933; }


a:hover {
	text-decoration: underline;	
}


/* Main Area */

main a {
	font-weight: 700;
	text-decoration: none;
   margin: 0 0 1.15em;
  margin-top: 1.5em;
}

hr{
    border-bottom: 3px solid #D7BDE2;
}

.collapse:not(.show){
    display: inline;
}

h3, h2 {
	font-family: 'Staatliches', cursive;
	font-size: 1.5em; 
	font-weight: 800; 
	line-height: 36px; 
	margin: 0 0 24px; 
	text-align: center; 
}

.about_me{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #f97171; 
    font-size: 2em;
    background-color: #b2eee6;
    display: block;
  }

.main{
    background-color: #fff;
    border: 1px solid #D7BDE2;
    margin-bottom: 15%;
    margin: 0 0 1.15em;
    margin-top: 1.5em;
 }

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  flex-flow: row wrap;
}

p{
color: #685206;
font-family: 'Helvetica Neue', sans-serif; 
font-size: 0.875em;
line-height: 24px; 
text-align: center; 
text-justify: inter-word;
 margin: 0 0 1.15em;
}

/*My Favorite Things List*/
.favorite li::marker {
 	color: red;
	display: inline-block;
}

.fave {
font-family: 'Helvetica Neue', sans-serif; 
font-size: 0.875em;
line-height: 24px; 
text-align: center; 
}

/*Portfolio*/

.projects {
	display: block;
}

.group{
    margin: 0;
    padding: 0;
    position: relative;
    margin-bottom: 5%;
}

.img_text{
    height: 30%;
    width: 280px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    text-align: center;
    background-color: #4aaaa5; 
    padding-top: 3%;
    position: absolute;
    top: 60%;
} 

/*Contact*/

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact {
  background: #f9f9f9;
  padding: 25px;
   margin: 0 auto;
  position: relative;
}

#contact h3 {
  display: block;
  font-size: 1.875em;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 0.8125em;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact textarea:hover {
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #aaa;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 0.9375em;
}


.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right { width: 50%; }

.left {
     margin-right: 2%; 
}

.cf {
	display: flex;
	margin-left: 50px;
	
}

.item-double {
  display: block;
  padding: 15px;
}

#contact-links {
  color: gray;
  text-align: center;
	border-bottom: solid 1px; 
	border-bottom-color: rgba(15, 122, 252, 0.2);
	 outline: none;
  	text-decoration: none;
}

a {
  color: red;
  font-family: helvetica;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: black;
}

a:visited {
  color: purple;
}

/* Footer */

#footer{
    border-top: 8px solid #D7BDE2;
    background-color: #666666;
    text-align: center;
    font-size: 0.75em;
    color:#dddddd;
    width: 100%;
    height: 60px;
    margin-top: 60px;
    padding-top: 1.2%;
}

/* Media Query */

/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {

    .container{
        margin: 0 !important;   
        padding: 0 !important;
    }

    ul.navbar-nav{
        display: flex;
        justify-content: center; 
        align-items: center;
    }

    .navbar-brand {
        flex: 100%;
        margin: 0;
    }

    .navbar-nav .nav-link {
        padding-right: 10px !important;
        padding-left: 5px !important;
    }

    .img_responsive{
        display: flex;
        justify-content: center; 
        margin-right: 7%;
    }

    p{
        margin-top: 5%;
    }
}

/* Small devices (landscape phones, 576px and up) */
    
@media (min-width: 576px) {

    ul.navbar-nav{
        display: flex;
        justify-content: center; 
        align-items: center;
    }

    .navbar-brand {
        margin: auto;
    }

    .navbar-nav .nav-link {
        padding-right: 10px !important;
        padding-left: 5px !important;
    }

    .img_responsive{
        display: flex;
        justify-content: center; 
        margin-right: 5%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .container{
        max-width: 960px;
    }
}
